.numbers{
    display: flex;
    flex-wrap: wrap-reverse;   
    border: 0.5px solid black;
}

.number {
    display: flex;
    flex-basis: 25%;
    height: 5vh;
    border: none;
    justify-content: center;
    background-color:#E8E7E7;
    align-items: center;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    outline: 1px #000 solid;
}

.button0 {   
    flex-basis: 75%;
}

.number:active {
    background-color: #E0E0E0;
}


#equal-operator {
    flex-basis: 50%;
    background-color: #FFAE33;
}

#clear-operator {
    flex-basis: 50%;
    background-color: #FFAE33;
}

.button {
    background-color: #FFAE33;
  }